@page "/"
@inject HttpClient Http

@if (Main == null)
{
    <p>error Limit 10 request per mintue</p>    
}
else
{
    <div class="mb-5 p-5">
           Pick a leagie that you want to view:
        <select class="form-control" @bind="League" @onclick="@GetTaskAsync">
            <option selected disabled value = "-1">Choose a League</option>
            <option value=PL>Premier League</option>
            <option value=SA>Serie A</option>
            <option value=PPL>Primeira Liga</option>
            <option value=ELC>Championship</option>
            <option value=FL1>Ligue 1</option>
            <option value=PD>Primera Division</option>
            <option value=DED>Eredivisie</option>
            <option value=BL1>Bundesliga</option>
            <option value=CL>UEFA Champions League</option>
            <option value=BSA>Campeonato Brasileiro Série A</option>
            <option value=CLI>Copa Libertadores</option>
        </select>
    </div>

    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th>Club</th>
                <th>Played</th>
                <th>Won</th>
                <th>Drawn</th>
                <th>Lost</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Points</th>
            </tr>
        </thead>
    

    <tbody>
         @foreach (var standing in Main.standings)
            {
                @foreach (var row in standing.table)
                {
                    <tr>
                        <td>@row.position</td>
                        <td>
                            <img src=@row.team.crestUrl style="width:2.3em; height:3em;"> &#8203; @row.team.name
                        </td>
                        <td>@row.playedGames</td>
                        <td>@row.won</td>
                        <td>@row.draw</td>
                        <td>@row.lost</td>
                        <td>@row.goalsFor</td>
                        <td>@row.goalsAgainst</td>
                        <td>@row.goalDifference</td>
                        <td>@row.points</td>
                    </tr>
                }
            }
    </tbody>
  </table>
}